@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #1c2431;
}

.primal-nav {
  margin: 0 1.6em;
}
.primal-nav .menu-list {
  display: flex;
  padding: 0;
  margin: 1.7rem 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}
.primal-nav .menu-list .logo-image {
  width: min(70%, 100px);
}
.primal-nav .menu-list .left-items {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: right;
}
.primal-nav .menu-list .left-items .menu-item {
  margin-left: 1.5rem;
}
.primal-nav .menu-list .left-items .menu-item a {
  text-decoration: none;
  color: white;
}
.primal-nav .menu-list .left-items .menu-item a:hover {
  color: #339ecc;
  transition: color 0.7s;
}

.section-first {
  margin-top: 4em;
  text-align: center;
  position: relative;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 110%;
}
.section-first .background-fill {
  background: linear-gradient(to bottom, transparent 53%, #181F2B 30%);
}
.section-first .section-container {
  margin: 0 1.6em;
  padding-bottom: 3rem;
}
.section-first .section-container img {
  max-width: 95%;
}
.section-first .section-container h1 {
  margin-top: 1em;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.section-first .section-container p {
  line-height: 1.5rem;
  padding: 0 1rem;
}
.section-first .section-container .button {
  background: linear-gradient(to right bottom, #65e2d9, #339ecc);
  border-radius: 3rem;
  margin: 2rem 3rem;
  padding: 0.9rem;
  font-weight: 700;
  transition: background-color 0.7s;
  transition: background 0.7s;
}
.section-first .section-container .button:hover {
  cursor: pointer;
  background: none;
  background-color: #8CDBE4;
}