@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0 1.2em;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #1c2431;
  border: none;
}
body .menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1.7rem 0;
}
body .menu-list .logo-image {
  width: min(50%, 600px);
}
body .menu-list .menu-item {
  margin: auto;
}