@use "./variable" as var;

@mixin menu {
    .primal-nav {
        margin: 0 1.6em;

        .menu-list {
            display: flex;
            padding: 0;
            margin: 1.7rem 0;
            width: 100%;
            font-family: var.$accent-font;
            font-size: 0.8rem;

            .logo-image {
                width: min(70%, 100px);
            }

            .left-items {
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: right;

                .menu-item {
                    margin-left: 1.5rem;

                    & a {
                        text-decoration: none;
                        color: var.$white;

                        &:hover {
                            color: var.$blue;
                            transition: color 0.7s;
                        }
                    }
                }
            }
        }
    }
}
