@use './variable' as var;
@use './menu' as menuStyle;
 
html{
    box-sizing: border-box;
}

body{
    margin: 0 1.5em;
    font-size: var.$default-size;
    font-family: var.$body-font;
    color: var.$white;
    background-color: var.$dark-blue-email-and-background;

    @include menuStyle.menu;
}



